<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>HomePage</title>
  </head>
  <body>
    <ul>
      <li>food</li>
      <li>
        <a href="http://localhost:8081/menuitems"
          >http://localhost:8081/menuitems</a
        >
      </li>
      <li>
        <a href="http://localhost:8081/menuitem/new"
          >http://localhost:8081/menuitem/new</a
        >
      </li>
      <li>
        <a href="http://localhost:8081/menuitem/1234/edit"
          >http://localhost:8081/menuitem/1234/edit</a
        >
      </li>
      <li>
        <a href="http://localhost:8081/menuitem/1234"
          >http://localhost:8081/menuitem/1234</a
        >
      </li>
      <li>orders</li>
      <li>
        <a href="http://localhost:8081/orders">http://localhost:8081/orders</a>
      </li>
      <li>
        <a href="http://localhost:8081/order/new"
          >http://localhost:8081/order/new</a
        >
      </li>
      <li>
        <a href="http://localhost:8081/order/1234/edit"
          >http://localhost:8081/order/1234/edit</a
        >
      </li>
      <li>
        <a href="http://localhost:8081/order/1234"
          >http://localhost:8081/order/1234</a
        >
      </li>
      <li>restaurant</li>
      <li>
        <a href="http://localhost:8081/restaurants"
          >http://localhost:8081/restaurants</a
        >
      </li>
      <li>
        <a href="http://localhost:8081/restaurant/new"
          >http://localhost:8081/restaurant/new</a
        >
      </li>
      <li>
        <a href="http://localhost:8081/restaurant/1234/edit"
          >http://localhost:8081/restaurant/1234/edit</a
        >
      </li>
      <li>
        <a href="http://localhost:8081/restaurant/1234"
          >http://localhost:8081/restaurant/1234</a
        >
      </li>
      <li>Customer</li>
      <li>
        <a href="http://localhost:8081/customers"
          >http://localhost:8081/customers</a
        >
      </li>
      <li>
        <a href="http://localhost:8081/customer/new"
          >http://localhost:8081/customer/new</a
        >
      </li>
      <li>
        <a href="http://localhost:8081/customer/1234/edit"
          >http://localhost:8081/customer/1234/edit</a
        >
      </li>
      <li>
        <a href="http://localhost:8081/customer/1234"
          >http://localhost:8081/customer/1234</a
        >
      </li>
    </ul>
  </body>
</html>
